<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <body>
        <br><br>
        <h3>new listing</h3>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input type="text" name="listing[title]" id="" placeholder="title" class="form-control " required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <textarea name="listing[description]" id="" placeholder="description" class="form-control " required></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">upload Image</label>
                <input type="file" name="listing[image]" id="" placeholder="image" class="form-control " required >

            </div>
            <div class="row">

            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">price</label>
                <input type="number" name="listing[price]" id="" placeholder="price" class="form-control " required>
                <div class="invalid-feedback">
                    enter valid price

                  </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>
                <input type="text" name="listing[country]" id="" placeholder="country" class="form-control " required>
                <div class="invalid-feedback">
                    enter valid country

                  </div>
            </div>
        </div>

            <div class="mb-3">
                <label for="location" class="form-label">location</label>
                <input type="text" name="listing[location]" id="" placeholder="location" class="form-control " required>
                <div class="invalid-feedback">
                    enter avlid location
                  </div>
            </div>



            <button class="btn btn-dark">submmit</button>
            <br><br>
        </form>
    </body>
</div>
</div>